<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Watch2gether- <%= roomName %></title>
  <link rel="stylesheet" href="style.css" type="text/css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>

  <script>
    const roomName = "<%= roomName %>";
  </script>
  <script defer src="/socket.io/socket.io.js"></script>
  <style>
    #notification {
      position: absolute;
      bottom: 0px;
      width: 96%;
      padding: 12px;
      text-align: center;
    }

    @keyframes popUpEntrada {
      0% {
        opacity: 1;
      }

      75% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }

    #ndata {
      background-color: rgb(12, 240, 145);
      padding: 12px;
      font-size: 25px;
      border-radius: 12px;
      animation: popUpEntrada 2s;

    }

    /* .fluid-container
  {
    margin: 10px;
  } */
    #screen1 {
      margin: 15px;
    }

    #screen2 {
      position: fixed;
      bottom: 0px;
      width: 100%;
      right: 2px;
    }

    #mcontainer {
      background-color: black
    }

    #vcontainer video {
      height: 50vh;
      background-color: black;
    }

    .p-bottom {
      position: fixed;
      bottom: 0px;
    }

    #message-container {
      max-height: 185px;
      overflow: scroll;
    }

    #message-container div {
      color: white;
      font-weight: bold;
      padding: 10px;

    }

    #roomscreen {
      background-color: black
    }

    @media only screen and (max-width: 600px) {
      #pip-button {
        display: none;
      }

      /* #nav{
    display: none;
  } */
      .right-controls {
        width: 150px;
      }
    }
  </style>
</head>

<body id="roomscreen">
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Active Users</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span id="a_users"></span>
        </div>
      </div>
    </div>
  </div>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav">
    <a class="navbar-brand mx-4" style="color:white;" href="#">Watch2gether</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <button class="mx-4 btn btn-secondary">
            <div id="userdetail"></div>
          </button>
        </li>
        <li class="nav-item active">
          <button class="mx-4 btn btn-primary"> Room Code:<%= roomName %> </button>
        </li>
      </ul>

      <div class="form-inline my-2 my-lg-0">
        <a id="createnew" class="mx-4 mr-sm-2 text-light" href="./"><button class="btn btn-success">Create Your
            Room</button><span class="sr-only">(current)</span></a>
      </div>
      <div class="form-inline my-2 my-lg-0">
        <a id="createnew" class="mx-4 mr-sm-2 text-light" href="./"><button class="btn btn-danger">Logout</button><span
            class="sr-only">(current)</span></a>
      </div>
    </div>
  </nav>

  <div class="fluid-container" id="screen1">
    <div class="row" id="vcontainer">
      <div class="col-md-12">

        <div class="video-container" id="video-container">
          <div class="playback-animation" id="playback-animation">
            <svg class="playback-icons">
              <use class="hidden" href="#play-icon"></use>
              <use href="#pause"></use>
            </svg>
          </div>

          <!-- <video controls class="video" id="video" preload="metadata" poster="poster.jpg">
        <source src="#" id="vsource" type="video/mp4"></source>
      </video> -->

          <div id="main_video"></div>
          <div class="video-controls hidden" id="video-controls">
            <div class="video-progress">
              <progress id="progress-bar" value="0" min="0"></progress>
              <input class="seek" id="seek" value="0" min="0" type="range" step="1" />
              <div class="seek-tooltip" id="seek-tooltip">00:00</div>
            </div>

            <div class="bottom-controls">
              <div class="left-controls">
                <button data-title="Play (k)" id="play">
                  <svg class="playback-icons">
                    <use href="#play-icon"></use>
                    <use class="hidden" href="#pause"></use>
                  </svg>
                </button>

                <div class="volume-controls">
                  <button data-title="Mute (m)" class="volume-button" id="volume-button">
                    <svg>
                      <use class="hidden" href="#volume-mute"></use>
                      <use class="hidden" href="#volume-low"></use>
                      <use href="#volume-high"></use>
                    </svg>
                  </button>

                  <input class="volume" id="volume" value="1" data-mute="0.5" type="range" max="1" min="0"
                    step="0.01" />
                </div>

                <div class="time">
                  <time id="time-elapsed">00:00</time>
                  <span> / </span>
                  <time id="duration">00:00</time>
                </div>
              </div>

              <div class="right-controls">
                <button data-title="PIP (p)" class="pip-button" id="pip-button">
                  <svg>
                    <use href="#pip"></use>
                  </svg>
                </button>

                <button data-title="Share" onclick="sharelink()" class="button">
                  <i class="fa fa-share" style="font-size: 25px; color: white"></i>
                </button>


                <button data-title="Active Users" data-toggle="modal" onclick="checkonlineusers()"
                  data-target="#exampleModal" class="button" id="aud-button">
                  <i class="fa fa-child" style="font-size: 25px; color: white"></i>
                </button>

                <button data-title="Full screen (f)" class="fullscreen-button" id="fullscreen-button">
                  <svg>
                    <use href="#fullscreen"></use>
                    <use href="#fullscreen-exit" class="hidden"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fluid-container " id="screen2">
      <div class="row" id="mcontainer">
        <div id="message-container"></div>
        <br>
        <form id="send-container" autocomplete="off">
          <div class="input-group mb-3">
            <input type="text" type="text" id="message-input" class="form-control" placeholder="Message"
              aria-label="Message" aria-describedby="basic-addon2" required />
            <div class="input-group-append">
              <button type="submit" id="send-button" class="btn btn-primary" type="button">
                Send
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <svg style="display: none">
    <defs>
      <symbol id="pause" viewBox="0 0 24 24">
        <path d="M14.016 5.016h3.984v13.969h-3.984v-13.969zM6 18.984v-13.969h3.984v13.969h-3.984z"></path>
      </symbol>

      <symbol id="play-icon" viewBox="0 0 24 24">
        <path d="M8.016 5.016l10.969 6.984-10.969 6.984v-13.969z"></path>
      </symbol>

      <symbol id="volume-high" viewBox="0 0 24 24">
        <path
          d="M14.016 3.234q3.047 0.656 5.016 3.117t1.969 5.648-1.969 5.648-5.016 3.117v-2.063q2.203-0.656 3.586-2.484t1.383-4.219-1.383-4.219-3.586-2.484v-2.063zM16.5 12q0 2.813-2.484 4.031v-8.063q1.031 0.516 1.758 1.688t0.727 2.344zM3 9h3.984l5.016-5.016v16.031l-5.016-5.016h-3.984v-6z">
        </path>
      </symbol>

      <symbol id="volume-low" viewBox="0 0 24 24">
        <path
          d="M5.016 9h3.984l5.016-5.016v16.031l-5.016-5.016h-3.984v-6zM18.516 12q0 2.766-2.531 4.031v-8.063q1.031 0.516 1.781 1.711t0.75 2.32z">
        </path>
      </symbol>

      <symbol id="volume-mute" viewBox="0 0 24 24">
        <path
          d="M12 3.984v4.219l-2.109-2.109zM4.266 3l16.734 16.734-1.266 1.266-2.063-2.063q-1.547 1.313-3.656 1.828v-2.063q1.172-0.328 2.25-1.172l-4.266-4.266v6.75l-5.016-5.016h-3.984v-6h4.734l-4.734-4.734zM18.984 12q0-2.391-1.383-4.219t-3.586-2.484v-2.063q3.047 0.656 5.016 3.117t1.969 5.648q0 2.203-1.031 4.172l-1.5-1.547q0.516-1.266 0.516-2.625zM16.5 12q0 0.422-0.047 0.609l-2.438-2.438v-2.203q1.031 0.516 1.758 1.688t0.727 2.344z">
        </path>
      </symbol>

      <symbol id="fullscreen" viewBox="0 0 24 24">
        <path
          d="M14.016 5.016h4.969v4.969h-1.969v-3h-3v-1.969zM17.016 17.016v-3h1.969v4.969h-4.969v-1.969h3zM5.016 9.984v-4.969h4.969v1.969h-3v3h-1.969zM6.984 14.016v3h3v1.969h-4.969v-4.969h1.969z">
        </path>
      </symbol>

      <symbol id="fullscreen-exit" viewBox="0 0 24 24">
        <path
          d="M15.984 8.016h3v1.969h-4.969v-4.969h1.969v3zM14.016 18.984v-4.969h4.969v1.969h-3v3h-1.969zM8.016 8.016v-3h1.969v4.969h-4.969v-1.969h3zM5.016 15.984v-1.969h4.969v4.969h-1.969v-3h-3z">
        </path>
      </symbol>

      <symbol id="pip" viewBox="0 0 24 24">
        <path
          d="M21 19.031v-14.063h-18v14.063h18zM23.016 18.984q0 0.797-0.609 1.406t-1.406 0.609h-18q-0.797 0-1.406-0.609t-0.609-1.406v-14.016q0-0.797 0.609-1.383t1.406-0.586h18q0.797 0 1.406 0.586t0.609 1.383v14.016zM18.984 11.016v6h-7.969v-6h7.969z">
        </path>
      </symbol>
    </defs>
  </svg>


  <div id="notification"><span id="ndata">Hello</span></div>
  <script>
    // var vurl = prompt("Enter Video URL", 'video.mp4');
    //  var vurl="video.mp4";

    //   var screen2 = document.getElementById("screen2").style.display="none";

    // function start()
    // {

    //     var screen1 = document.getElementById("screen1").style.display="none";
    //     var screen2 = document.getElementById("screen2").style.display="block";

    // }
  </script>

  <script defer src="index.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>